/* CSS Document */

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* END CSS Reset*/

fieldset{
	margin: 5px 10px;
	background-color:#FFD073;
}

legend{
	color:#412C84;
	background-color: #FFD073;
	border: 1px solid #200772;
	padding: 2px;
	font-weight: bold;
}

table{
	margin: 5px;
	padding: 5px;
}

td{
	padding: 3px;
}

footer{
	margin: 10px;
}

footer p{
	font-size: 10pt;
	text-align: center;
}

#wrapper{
	background-color: #FFBF40;
	margin-top: 20px;
	padding-top: 10px;
	border: 1px solid black;
	width: 900px;
	margin: 5px auto;
}

#content p{
	padding-left: 10px;
}

.center{
	text-align: center;
}

.required{
	color: #FF0000;
}
